@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* NavBar */
header {
    background-image: linear-gradient(to bottom, blue, rgb(168, 168, 255));

    height: 10vh;

    padding: 0px 20px;
}

.logo {
    display: inline-block;
    height: 7vh;

    padding-top: 15px;
}

nav, nav li{
    display: inline-block;
}

nav ul{    
    list-style: none;
}

nav a {

    color: #000;
    text-decoration: none;
}

/* Banner Principal */
.banner-principal {
    background-image: url("../img/cidade_verde01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;

    padding: 25vh;
}

.banner-principal h1, .banner-principal p{
    text-align: center;
    font-weight: bold;
}

.banner-principal h1 {
    font-size: 8em;
}

.banner-principal p {
    font-size: 4em;
}

/* Contúdo Principal */

main section {
    height: 50vh;

    text-align: center;
}

main  h1 {
    padding-top: 200px;
    font-size: 3em;
}

.imagem1 {
    background-image: url("../img/cidade_vede1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}